<ion-content>
  <!-- Settings Menu -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Settings</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <!-- Notification Button -->
        <ion-item button>
          <ion-icon slot="start" name="notifications-outline"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-item>
        
        <!-- Change Theme Button -->
        <ion-item button>
          <ion-icon slot="start" name="color-palette-outline"></ion-icon>
          <ion-label>Change Theme</ion-label>
        </ion-item>
        
        <!-- Language Settings -->
        <ion-item button>
          <ion-icon slot="start" name="language-outline"></ion-icon>
          <ion-label>Language Settings</ion-label>
        </ion-item>
        
        <!-- Feedback -->
        <ion-item button>
          <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
          <ion-label>Feedback</ion-label>
        </ion-item>
        
        <ion-item button (click)="showAboutEFA()">
          <ion-icon slot="start" name="information-circle-outline"></ion-icon>
          <ion-label>About EFA</ion-label>
        </ion-item>
        
        <!-- Log Out -->
        <ion-item button (click)="logout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Log Out</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
  <br>
  <br>
  <br>
  <!-- Center the cards using a custom CSS class -->
  <div class="center-cards">
    <ion-card  color="success" button (click)="goToEcoTips()">
      <img src="assets/Images/images.jpg" alt="Eco-friendly Feature Image" />
      <ion-card-header>
        <ion-card-title>Eco-friendly Product Recommendation</ion-card-title>    
      </ion-card-header>
    </ion-card>
    <!-- 2. Eco Tips & Insights -->
    <ion-card color="tertiary" button (click)="goToEcoTips()">
        <img src="assets/Images/images.jpg" alt="Eco-friendly Feature Image" />
        <ion-card-header>
          <ion-card-title>Eco Tips and Insights</ion-card-title>
        </ion-card-header>
      </ion-card>
    <!-- 3. Eco Challenges & Reward -->
    <ion-card color="secondary" button (click)="goToEcoChallenges()">
      <img src="assets/Images/images.jpg" alt="Eco-friendly Feature Image" />
      <ion-card-header>
        <ion-card-title>Eco Challenges and Reward</ion-card-title>   
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>



