<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
       
      </ion-button>
    </ion-buttons>
    <ion-title>About EFA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    Eco Friendly App (EFA) is a mobile application that helps users to build long-term eco habits.
  </p>
  <p>This application is aim to help users to build the long-term eco habits</p>
</ion-content>

