<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onForgotPassword()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">PIN Number</ion-label>
      <ion-input [(ngModel)]="pinNumber" name="pinNumber" type="number" maxlength="6" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input [(ngModel)]="newPassword" name="newPassword" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Reset Password</ion-button>
  </form>
</ion-content>
