<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()">{{ isEditMode ? 'Save' : 'Edit' }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="profile.username"
        [disabled]="!isEditMode"
        name="username">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="profile.email"
        [disabled]="!isEditMode"
        name="email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bio</ion-label>
      <ion-textarea
        [(ngModel)]="profile.bio"
        [disabled]="!isEditMode"
        name="bio">
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Preferences</ion-label>
      <ion-textarea
        [(ngModel)]="profile.preferences"
        [disabled]="!isEditMode"
        name="preferences">
      </ion-textarea>
    </ion-item>
  </form>
</ion-content>




