<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <!-- Toggle button: Changes text based on mode -->
      <ion-button (click)="onSubmit()">{{ isEditMode ? 'Save' : 'Edit' }}</ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input 
        type="text" 
        [value]="profile.username" 
        [readonly]="!isEditMode">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input 
        type="email" 
        [(ngModel)]="profile.email" 
        [readonly]="!isEditMode" 
        name="email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bio</ion-label>
      <ion-textarea 
        [(ngModel)]="profile.bio" 
        [readonly]="!isEditMode" 
        name="bio">
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Preferences</ion-label>
      <ion-input 
        [(ngModel)]="profile.preferences" 
        [readonly]="!isEditMode" 
        name="preferences">
      </ion-input>
    </ion-item>
  </form>
</ion-content>



